<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Email</title>
  </head>
  <body>
    <p> Welcome to our website. We don't want to seem desperate. Thank you. </p>
  </body>
</html>
