header {
  display: flex;
  /*justify-content: center;*/
}

h1 {
  font-size: 40px;
  font-family: cursive;
  margin: auto;
}

header a {
  float: right;
  margin-right: 20px;
  font-size: 20px;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  max-height: 25px;
}

header p {
  margin-right: 20px;
}

.log_out {
  float: right;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.band_show_a {
  margin-bottom: 10px;
}

.button_to {
  margin-top: 10px;
}
