<p>Band Name: <%= @band.name %> </p>
<h1> Albums </h1>
<% albums = Album.where(band_id: @band.id) %>
<% albums.each do |album| %>
  <a class="band_show_a" href=" <%= album_url(album) %> "> <%= album.title %> </a>
  <br>
<% end %>
<%= button_to 'Create an Album', new_band_album_url(@band), method: :get %>
